:root {
  --gris: #e1e1e1;
  --blanco: #ffffff;
  --negro: #000000;

  --azulPrimario : #5c5142;
}
body {
  font-size: 1.6rem;
  line-height: 2;
  height: 100%;
  margin: 0;
  /* background-color: #020a10; */
}

html {
  box-sizing: border-box;
  font-size: 65.5%;
  color: white;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*----------GLOBALES----------  */
.contenedor {
  width: min(97%, 150rem);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
}

/*-----------UTILIDADES-------- */
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}
.titulo{
  grid-column: 1 / 3;
  text-align: center;
  margin: 0 0 1.5rem 0;
  font-size: 2rem;
  color:black

}

.logo h2 a{
  margin-left: 1rem;
  color: #2bc993;
}

/* NAVBAR */
.nav-bar {
  background-color: #091C2B;
  width: 24rem;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
}
.nav-bar li a {
  text-decoration: none;
  color: #d4816c;
  padding: 1rem;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
}
.nav-bar li a:hover{
  color: rgba(248, 0, 141, 0.744);
}


main{
    margin-left: 25rem; /* Ancho de la barra lateral */
    padding: 20px;
}

@media (min-width: 768px) {
    .main{
        display: grid;
        grid-template-columns: 2fr 3fr
    }
    .opciones{
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .opciones select,
    .opciones input{
        width: 70%;
        padding: 0.5rem;
        background-color:#d8e4f0;
        color: black;
        border-radius: 1rem;
        align-items: center;
        border: none;
    }    
    .opciones,
    .respuesta{
        padding: 1rem;
    }
}
.btn{
  text-align: center;
  grid-column: 1 /3;
  margin: 2rem;
}
.btn button{
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: black;
  color: white;
}
#respuesta__texto{
  padding: 2rem;
  border: none;
  background-color: #eff1f3;
  border-radius: 2rem;
  width: 100%;
  height: 45rem;
  color: #352402;
}
.opciones label{
  color: #fd8f00;
  justify-content: flex-start;
}

.footer{
  display: flex;
  width: 100%;
  justify-content:center;
  background-color: #17202a5b;
  margin-top: 5rem;
  padding-top: 1rem;
}
.footer__logo{
  width: 7%;
  padding-right: 1rem;
}
.footer h5{
    padding-left: 1rem;
  margin: 0;
align-self: center;
}
.inactive{
  display: none;
}

/* MOBILE */
@media (max-width: 480px) {
  .nav-bar {
    display: flex;
    width: 100%;
    height: 5rem;
  }
  .logo{
    display: flex;
  }
  .logo h2{
    margin: 0;
  }
  .logo img{
    display: block;
    width: 3rem;
    margin: 1rem;
  }
  .logo h2 a{
    color: #2bc993;
    font-size: 3rem;
    margin: 0  0 0 1rem ;
    /* margin-left: 5rem; */
  }
  .nav-bar ul{
    display: none;
  }
  .navbar-mobile{
    position: absolute;
    margin-top: 0rem;
    background-color: #091C2B;
    width: 100%;
    height: 15rem;
  }
  .navbar-mobile ul{
    display: block;
    list-style: none;
  }
  .navbar-mobile ul li{
    display: block;
    background-color: white;
    list-style: none;

  }
  .navbar-mobile li a{
  text-decoration: none;
  color: #d4816c;
  padding: 1rem;
  width: 100%;
  padding-left: 2rem;
  font-size: 3rem;
  }
  /* quitamos las viñetas de la lista */
  .navbar-mobile li::marker{
    content: "";
  }
  .navbar-mobile li a:hover{
    background-color: #e1e1e1;
    border-radius: 10px;
  }
  main{
    margin-top: 5rem;
    margin-left: 0;
  }

  .opciones{
    line-height: 1.3;
    margin-bottom: 2rem;
  }
  .opciones label{
    display: flex;
    flex-direction: row;
  }
  .opciones select,
  .opciones input{
    width: 100%;
    padding: 0.5rem;
  }
  .btn{
    margin: 5rem;
  }
}
#theme{
  width: 12rem;
  height: 3rem;
  margin: 1rem 1rem 1rem 3rem;
  background-color: #c5c5c0;
  border-radius: 1rem;
  border: none;
}

/* DARK MODE */

.dark  {
  background-color: #020a10;
}
.dark #respuesta__texto{
  padding: 2rem;
  border: none;
  background-color: #17202A;
  border-radius: 2rem;
  width: 100%;
  height: 45rem;
  color: #EDD5A6;
}
.dark .opciones label{
  /* color: #F2B945; */
  justify-content: flex-start;
}
.dark #respuesta__texto{
  padding: 2rem;
  border: none;
  /* background-color: #17202A; */
  border-radius: 2rem;
  width: 100%;
  height: 45rem;
  color: #EDD5A6;
}

.dark .titulo{
  color: white;
}
.dark .opciones select,
.dark .opciones input{
        padding: 0.5rem;
        background-color:#212F3D;
        color: #c3b9b4;
        border-radius: 1rem;
        align-items: center;
        border: none;
    } 


/* gris mode */
.gris  {
  background-color: #a0a0a0;
}
.gris #respuesta__texto{
  padding: 2rem;
  border: none;
  background-color: #17202A;
  border-radius: 2rem;
  width: 100%;
  height: 45rem;
  color: #EDD5A6;
}
.gris .opciones label{
  color: black;
  justify-content: flex-start;
}
.gris #respuesta__texto{
  padding: 2rem;
  border: none;
  background-color: #545353;
  border-radius: 2rem;
  width: 100%;
  height: 45rem;
  color: #EDD5A6;
}

.gris .titulo{
  color: white;
}
.gris .opciones select,
.gris .opciones input{
        width: 100%;
        padding: 0.5rem;
        background-color:#212F3D;
        color: #c3b9b4;
        border-radius: 1rem;
        align-items: center;
        border: none;
    } 